# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time
from scipy.stats import linregress

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("resources/weather_summary.csv")
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,rikitea,-23.12,-134.97,74.21,80,100,20.98,PF,1602972010
1,saint-philippe,-21.36,55.77,70.00,68,28,5.82,RE,1602971430
2,ribeira grande,38.52,-28.70,63.28,63,97,16.22,PT,1602971526
3,georgetown,5.41,100.34,77.00,94,40,5.82,MY,1602971483
4,chuy,-33.70,-53.46,65.57,76,99,11.03,UY,1602971463

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key="AIzaSyCcCQI8gljV9yk_bywE8JhU58cAgsO07xA")

In [4]:
locations = weather_df[["Lat", "Lng"]]
humidity = weather_df["Humidity"]

# Plot Heatmap
center = (0,0)
figure_layout = {'width': '500px', 'margin': '0 auto 0 auto'}

fig = gmaps.figure(center = center, zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=0)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

#### Ideal Conditions:

- A max temperature lower than 80 degrees but higher than 70.
- Wind speed less than 10 mph.
- Zero cloudiness.
- Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [6]:
ideal_weather_df = weather_df.loc[(weather_df["Max Temp"] > 70) & 
                                  (weather_df["Max Temp"] < 80) & 
                                  (weather_df["Wind Speed"] < 10) &
                                  (weather_df["Cloudiness"] == 0)]

ideal_weather_df = ideal_weather_df.reset_index(drop=True)

ideal_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,tsumeb,-19.23,17.72,73.33,20,0,9.86,NaN,1602972094
1,salalah,17.02,54.09,75.20,60,0,4.70,OM,1602971610
2,morondava,-20.28,44.28,74.30,80,0,4.50,MG,1602972267
3,mount isa,-20.73,139.50,78.80,31,0,6.87,AU,1602972288
4,gat,31.61,34.76,73.99,71,0,3.04,IL,1602972307
5,hit,33.64,42.83,71.67,26,0,6.26,IQ,1602972312
6,erzin,36.96,36.20,73.00,80,0,1.90,TR,1602972345
7,giyani,-23.30,30.72,72.86,59,0,6.04,ZA,1602972312
8,tezu,27.92,96.17,73.96,67,0,3.22,IN,1602972521
9,damietta,31.42,31.81,78.80,74,0,6.93,EG,1602972543
10,mathathane,-22.27,28.75,74.57,50,0,6.26,BW,1602972579
11,safaga,26.73,33.94,78.80,44,0,9.17,EG,1602972582
12,liliani,32.21,72.95,70.95,25,0,2.59,PK,1602972604
13,sain alto,23.58,-103.25,73.27,30,0,4.83,MX,1602972629

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
place_type = "lodging"
radius = 5000

hotel_name_list = []
hotel_lat_list = []
hotel_lng_list = []

for index, row in ideal_weather_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    location = (f"{lat},{lng}")
    
    url = f"{base_url}location={location}&radius={radius}&type={place_type}&key={g_key}"
    
    response = requests.get(url).json()
    results = response['results']
    
    try:
        hotel_name_list.append(results[0]["name"])
        hotel_lat_list.append(results[0]["geometry"]["location"]["lat"])
        hotel_lng_list.append(results[0]["geometry"]["location"]["lng"])
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [10]:
hotel_result_df = pd.DataFrame(
    {'Hotel Name' : hotel_name_list,
    'Hotel Lat' : hotel_lat_list,
    'Hotel Lng' : hotel_lng_list,}
)

hotel_result_df

                   Hotel Name  Hotel Lat   Hotel Lng
0      TeaterHuis Guest House -19.245428   17.719839
1          HAMDAN PLAZA HOTEL  17.019341   54.061011
2              La Case Bambou -20.297942   44.269427
3   ibis Styles Mt Isa Verona -20.726140  139.492803
4                    OlusHome  31.613093   34.716021
5             Aboody Alhachem  33.629493   42.838615
6                Artemis Otel  36.952670   36.237877
7        Kulani Country Lodge -23.308243   30.685959
8               Circuit House  27.919540   96.170700
9      العواد لتجارة الابلكاش  31.422342   31.809862
10            Selepswe Resort -22.235439   28.721364
11      Lamar Resort Abu Soma  26.763640   33.945946
12        Graveyard - قبرستان  32.212306   72.955300
13              Hotel Barraza  23.586012 -103.254618

In [14]:
hotel_df = pd.concat([ideal_weather_df, hotel_result_df], axis=1)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Hotel Lat,Hotel Lng
0,tsumeb,-19.23,17.72,73.33,20,0,9.86,NaN,1602972094,TeaterHuis Guest House,-19.245428,17.719839
1,salalah,17.02,54.09,75.20,60,0,4.70,OM,1602971610,HAMDAN PLAZA HOTEL,17.019341,54.061011
2,morondava,-20.28,44.28,74.30,80,0,4.50,MG,1602972267,La Case Bambou,-20.297942,44.269427
3,mount isa,-20.73,139.50,78.80,31,0,6.87,AU,1602972288,ibis Styles Mt Isa Verona,-20.726140,139.492803
4,gat,31.61,34.76,73.99,71,0,3.04,IL,1602972307,OlusHome,31.613093,34.716021
5,hit,33.64,42.83,71.67,26,0,6.26,IQ,1602972312,Aboody Alhachem,33.629493,42.838615
6,erzin,36.96,36.20,73.00,80,0,1.90,TR,1602972345,Artemis Otel,36.952670,36.237877
7,giyani,-23.30,30.72,72.86,59,0,6.04,ZA,1602972312,Kulani Country Lodge,-23.308243,30.685959
8,tezu,27.92,96.17,73.96,67,0,3.22,IN,1602972521,Circuit House,27.919540,96.170700
9,damietta,31.42,31.81,78.80,74,0,6.93,EG,1602972543,العواد لتجارة الابلكاش,31.422342,31.809862
10,mathathane,-22.27,28.75,74.57,50,0,6.26,BW,1602972579,Selepswe Resort,-22.235439,28.721364
11,safaga,26.73,33.94,78.80,44,0,9.17,EG,1602972582,Lamar Resort Abu Soma,26.763640,33.945946
12,liliani,32.21,72.95,70.95,25,0,2.59,PK,1602972604,Graveyard - قبرستان,32.212306,72.955300
13,sain alto,23.58,-103.25,73.27,30,0,4.83,MX,1602972629,Hotel Barraza,23.586012,-103.254618

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Hotel Lat", "Hotel Lng"]]

hotel_marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

In [20]:
# Add marker layer ontop of heat map
fig.add_layer(hotel_marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))